body {
  background: url("../images/parquet.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  font-family: "Arial", sans-serif;
}

#card-container {
  display: grid;
  width: 90%;
  margin: 40px 0;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  justify-items: center;
  align-items: center;
}

.toy-card {
  width: 290px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.toy-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.toy-card:hover .toy-card__unit-stats {
  max-height: 120px;
  opacity: 1;
}
.toy-card:hover .toy-card__image img {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
.toy-card__image {
  width: 100%;
  height: 255px;
  display: flex;
  z-index: 1;
  border-radius: 15px 15px 0 0;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
}
.toy-card__image img {
  transition: transform 0.5s ease;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.toy-card__image.woody {
  background-image: url("../images/giant-bg.jpg");
}
.toy-card__image.buzz {
  background-image: url("../images/goblin-bg.jpg");
}
.toy-card__image.pilpoil {
  background-image: url("../images/barbarian-bg.jpg");
}
.toy-card__name {
  z-index: 2;
  font-size: x-large;
  font-weight: 800;
  width: 100%;
  background: orange;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toy-card__description {
  font-size: 16px;
  color: #666;
  text-align: center;
  padding: 0 10px;
}
.toy-card__unit-stats {
  width: 100%;
  background: orange;
  color: #fff;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  border-radius: 0 0 15px 15px;
}
.toy-card .one-third {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.toy-card .one-third:not(:last-child) {
  border-right: 1px solid grey;
}
.toy-card .one-third .stat {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}
.toy-card .one-third .stat-value {
  text-align: center;
}